.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 53, 53);
  gap: 15px;
  padding: 5px;
  height: 260px;
  width: 240px;
}

.revenue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 25px;
  background-color: rgb(173, 244, 43);
  height: 100px;
  width: 180px;
  padding: 10px;
  position: relative; 
}

.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 25px;
  background-color: black;
  color: white;
  height: 100px;
  width: 180px;
  padding: 10px;
  position: relative; 
}

.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: gray;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.val {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-family: 'Arial Narrow', sans-serif;
  width: 140px;
  height: 70px;
}

.val p {
  font-size: 2.5rem;
}

.currency {
  font-size: 1.5rem; 
  margin-right: 5px; 
}

.sub_val {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  color: rgb(173, 244, 43);
}
