.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-bottom: 10px;
}

.header h1{
  position: absolute;
  top: 25px;
  left: 35px;
  color: white;
}
.notif h2{
  position: absolute;
  top: 25px;
  right: 25px;
  color: white;
}
.body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(180, 244, 244);
  padding: 10px;
  gap: 3px;
}

.card-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-head-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.owned,
.created {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.name-tag {
  display: flex;
  flex-direction: column;
}

.owned img,
.created img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: rgb(226, 234, 237);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
  height: 40px;
  width: 100px;
  background-color: rgb(38, 116, 211);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
button:hover {
  opacity: 70%;
  border: 2px solid white;
}
